.header_container {
  // width:  100%;
  // height: 675px;
  background-image: url(./../../img/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
.header-btn{
    display: flex;
    justify-content: end;
}
.header-btn a {
    margin-top: 10px;
  padding: 17px 16px;
  color: #f9f9f9;
  text-align: center;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #c0c0c0;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
  &:hover{
    background-color: #7c6721;
    color: rgb(54, 19, 182);
  }
}

