.main-item {
  color: #f9f9f9;
  text-align: center;
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  padding-top: 198px;
  padding-bottom: 36px;
}
.hr {
  border-bottom: 2px solid #f9f9f9;
  position: absolute;
  width: 60px;
}
.main-logo img {
  max-width: 409px;
}
.main-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 24px;
  column-gap: 24px;
  gap: 24px;
  margin: 0;
  padding: 0;
}
.main-item2 {
//   gap: 24px;
}
@media(max-width:970px){
    .main-list{
        // flex-direction: column;
        flex-wrap: wrap;
    }
    .main-item2 img{
        max-width: 350px;
    }
}
@media (max-width:766px) {
    .main-list{
       flex-direction: column; 
    }
}
@media(max-width:570px){
    .main-item li{
        font-size:15px ;
    }
}

@media(max-width:466px){
    .main-item2 img{
        max-width: 300px;
    }
    .main-item {
        flex-direction: column;
        padding-top: 10px;
    }
}
@media(max-width:599px){
    .btn button{
        font-size: 15px;
    }
}
@media(max-width:380px){
    .header-item button{
      max-width: 150px;
      height: 50px;
      padding: 5px;
    }
}
